html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.map-cont {
  height: 100%;
  padding-left: 300px;
}

.map-cont .row {
  margin-bottom: 0;
}

@media only screen and (max-width: 992px) {
  .map-cont {
    padding-left: 0;
  }
}

#map {
  height: 100%;
}